:root {
    --light-gray: rgb(204, 204, 204);
    --theme-main: white;
    --theme-text: black;
    --theme-text-mid: gray;
    --theme-text-invert: white;
    --theme-background: #F2F2F2;
    --theme-background-second: white;
    --popover-color: white;
    --new-list-color: red;
}

body {
    color: var(--theme-text);
    background-color: var(--theme-background)
}

button:focus {
    outline: 0 !important;
}

a:focus {
    outline: 0 !important;
}

#title {
    font-family: 'Rock Salt', cursive;
    color: var(--new-list-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 300%;
}

#new-list-title {
    border: 0;
    outline: 0;
    border-bottom: 2px solid var(--theme-text-mid);
    /* transition: border-bottom 0.3s; */
    color: rgb(43, 43, 43);
    padding-right: 30px;
    background: transparent;
}

#new-list-title::placeholder {
    /* color: var(--new-list-color) */
}

#new-list-title:valid {
    border-bottom: 2px solid var(--new-list-color);
}

/* .new-task-name:focus+.new-task-button, .new-task-name:hover+.new-task-button {
    display: inline-block;
} */

#new-list-title:valid+.new-task-fake-button {
    pointer-events: none;
}

#new-list-title:valid+div+input+#new-list-button {
    background-color: var(--new-list-color);
    pointer-events: auto;
}

#new-list-title+span {
    color: var(--theme-text-mid)
}

#new-list-color-popup-positioner {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
    background-color: none;
}

#new-list-color-choice {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background-color: var(--new-list-color);
    display: inline-block;
    cursor: pointer;
    position: relative;
    color: transparent;
    pointer-events: auto;
}

#new-list-color-choice.no-click {
    pointer-events: none;
}

#new-list-color-choice:hover {
    color: white;
}

#new-list-color-popup {
    position: absolute;
    margin-right: 50%;
    left: 50%;
    top: 110%;
    transform: translate(-50%, 0%);
    z-index: 5;
    pointer-events: auto;
    opacity: 1;
    transition: opacity 0.1s
    /* width: 100px; */
}

#new-list-color-popup.hidden {
    opacity: 0;
    pointer-events: none;
}

#new-list-color-arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid var(--new-list-color);
}

#new-list-colors {
    background-color: var(--theme-background-second);
    border: 5px solid var(--new-list-color);
    border-radius: 5px;
    /* width: 150px; */
    /* flex-wrap: wrap */
}

#new-list-color {
    display: none
}

.new-list-color-button {
    border-radius: 100%;
    width: 25px;
    height: 25px;
    background-color: var(--new-list-color);
    display: inline-block;
    cursor: pointer;
    position: relative;
    margin: 1px;
    border: none;
    transition: width 0.5s, height 0.5s;
    padding: 0;
    color: transparent;
}

.new-list-color-button:hover {
    color: white;
}

#new-list-button {
    background-color: var(--theme-text-mid);
    color: white;
    transition: none;
    box-shadow: 0px 3px 5px #919191;
    pointer-events: none;
}

/* #new-list-button:hover {
    background-color: var(--new-list-color)
} */

.card-columns {
    column-count: 4;
}

.modal-header, .modal-footer {
    border: 0 !important;
}

#modal-confirm .modal-content {
    border: 0;
    border-top: red solid 5px;
    border-bottom: red solid 5px;
    border-radius: 0;
}

#modal-button-cancel {
    background-color: #EB5757;
    color: white;
    box-shadow: 0px 3px 8px #919191;
}

#modal-button-cancel:hover {
    background-color: #f87575
}

#modal-button-confirm {
    background-color: #27AE60;
    color: white;
    box-shadow: 0px 3px 8px #919191;
}

#modal-button-confirm:hover {
    background-color: #45be78
}

}

/* #new-list-color {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    appearance: none;
} */

#new-list-color:focus {
    outline: none
}

input::-webkit-color-swatch {
    border: none;
}

.list-card {
    box-shadow: 0px 10px 8px #bebebe;
    min-height: 100px;
    position: relative;
    border: 0;
    display: inline-block;
    background-color: var(--theme-background-second)
}

.list-header {
    /* height: 100px; */
    text-shadow: 0px 2px 6px #5a5a5a;
    color: white;
}

.list-delete-button {
    position: absolute;
    padding: 0;
    right: 6px;
    top: 0px;
    opacity: 0;
    transition: opacity 0.3s, color 0.1s;
    border: 0;
    border-radius: 10%;
    background-color: rgb(0, 0, 0, 0);
    color: white;
    text-shadow: 0px 2px 6px #5a5a5a;
}

.list-delete-button:hover {
    color: black
}

.list-card:hover .list-delete-button {
    opacity: 1;
}

.list-title {
    text-shadow: 0px 2px 6px #5a5a5a;
    color: white;
    /* margin-top: 10px */
}

.list-footer {
    position: absolute;
    bottom: 0px;
    width: 99%;
}

.list-task {
    position: relative;
}

.task-checkbox {
    width: 20px;
    border: 1px solid red;
    display: inline-block
}

.task-checkbox:checked+.task-name {
    text-decoration: line-through;
}

/* .task-name {
    max-width: 60% !important;
} */

.task-dot-button {
    border: 0;
    background-color: rgb(0, 0, 0, 0);
    right: 0px;
    position: absolute;
    color: var(--theme-text-mid);
    transition: background-color 0.1s, color 0.1s, opacity 0.1s;
    opacity: 0;
    /* display: none; */
}

.list-task:hover .task-dot-button {
    opacity: 1;
    /* display: inline-block; */
}

/* .task-dot-button:hover {
    color: red;
} */

#popover {
    position: fixed;
    z-index: 100;
    transition: opacity 0.1s;
    opacity: 1
}

#popover.hidden {
    opacity: 0 !important;
    pointer-events: none;
}

#popover-arrow {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid var(--popover-color);
}

#popover-items {
    background-color: var(--theme-main);
    border: 5px solid var(--popover-color);
    width: 100%;
    border-radius: 5px;
    /* box-shadow: 0px 10px 8px #bebebe; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

#popover-delete:hover {
    color: red;
    /* background-color: red */
}

@keyframes shake {
    0% {
        transform: rotate(0deg)
    }
    25% {
        transform: rotate(10deg)
    }
    50% {
        transform: rotate(0deg)
    }
    75% {
        transform: rotate(-10deg)
    }
    100% {
        transform: rotate(0deg)
    }
}

#popover-delete.confirm {
    background-color: red;
    color: white;
    animation: shake .5s linear 0s infinite normal;
    ;
}

#popover-dots {
    z-index: 100;
    color: var(--popover-color);
    border: 0;
    background-color: rgb(0, 0, 0, 0);
    position: fixed;
    /* transition: background-color 0.1s, color 0.1s, opacity 0.1s; */
    opacity: 1;
}

#popover-dots.hidden {
    opacity: 0 !important;
    pointer-events: none;
}

.popover-button {
    border: 0;
    border-radius: 10%;
    background-color: rgb(0, 0, 0, 0);
    color: var(--theme-text-mid);
    /* text-shadow: 0px 2px 6px #5a5a5a; */
    /* transition: background-color 0.1s, color 0.1s, opacity 0.1s; */
}

.popover-move:hover {
    color: var(--popover-color)
}

.new-task-form {
    width: 90%;
    position: relative;
}

.new-task-name {
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 2px solid var(--light-gray);
    transition: border-bottom 0.3s;
    color: rgb(43, 43, 43);
    padding-right: 30px;
}

.new-task-name::placeholder {
    opacity: 0.5;
}

/* .new-task-name:focus+.new-task-button, .new-task-name:hover+.new-task-button {
    display: inline-block;
} */

.new-task-name:valid+.new-task-fake-button {
    opacity: 0;
}

.new-task-name:valid+.new-task-fake-button+.new-task-button {
    opacity: 1;
    pointer-events: auto;
}

.new-task-fake-button {
    z-index: 2;
    color: var(--light-gray);
    border: 0;
    border-radius: 10%;
    background-color: rgb(0, 0, 0, 0);
    position: absolute;
    right: 0px;
    top: 0;
    transition: background-color 0.2s, opacity 0.2s;
    opacity: 1;
    pointer-events: none;
}

.new-task-button {
    z-index: 3;
    border: 0;
    border-radius: 10%;
    background-color: rgb(0, 0, 0, 0);
    position: absolute;
    right: 0px;
    top: 0;
    transition: background-color 0.2s, opacity 0.2s;
    opacity: 0;
    pointer-events: none;
}

@media only screen and (max-width: 1100px) {
    .card-columns {
        column-count: 3
    }
}

@media only screen and (max-width: 850px) {
    .card-columns {
        column-count: 2
    }
}

@media only screen and (max-width: 600px) {
    .card-columns {
        column-count: 1
    }
}